.reservation {
  background-color: white;
  margin: 5px;
  padding: 1px;
  width: 18vw;
  color: teal;
  border: solid 3px teal;
}

.cancel-res {
  margin-bottom: 5px;
  background-color: teal;
  color: white;
  border: none;
  padding: 4px;
  width: 50%;
}
